In [ ]:
# DESARROLLO DE CODIGO DE LA API
# para despues pasarla al main.py para uso de la API

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import ast

In [2]:
d1 = pd.read_csv('d_limpio.csv')

In [3]:
d1.dtypes

belongs_to_collection     object
budget                   float64
genres                    object
id                         int64
original_language         object
overview                  object
popularity               float64
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
vote_average             float64
release_year               int64
return                   float64
dtype: object

In [4]:
d1.head(4)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return
0,Toy Story Collection,30000000.0,"['Animation', 'Comedy', 'Family']",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,373554033.0,81.0,['English'],Released,NaN,Toy Story,7.7,1995,12.451801
1,NaN,65000000.0,"['Adventure', 'Fantasy', 'Family']",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,262797249.0,104.0,"['English', 'Français']",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995,4.043035
2,Grumpy Old Men Collection,0.0,"['Romance', 'Comedy']",15602,en,A family wedding reignites the ancient feud be...,11.712900,"['Warner Bros.', 'Lancaster Gate']",['United States of America'],1995-12-22,0.0,101.0,['English'],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995,0.000000
3,NaN,16000000.0,"['Comedy', 'Drama', 'Romance']",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,['Twentieth Century Fox Film Corporation'],['United States of America'],1995-12-22,81452156.0,127.0,['English'],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,1995,5.090760

In [ ]:
# API 1
# Cantidad de peliculas producidas por un determinado pais en determinado año, la funcion debe llamarse
# get_country(year, country)y debe devolver solo el numero de peliculas producidas por el pais en dicho año.

In [7]:
def peliculas_mes(mes):
    fechas = pd.to_datetime(d1['release_date'], format= '%Y-%m-%d')
    n_mes= fechas[fechas.dt.month_name(locale = 'es')==mes.capitalize()]
    respuesta = n_mes.shape[0]
    return {'mes':mes, 'cantidad':respuesta}

In [8]:
peliculas_mes('marzo')

{'mes': 'marzo', 'cantidad': 3553}

In [ ]:
# API 2
# Recaudacion por productora y por año, la funcion debe llamarse get_company_revenue(company, year) y debe 
# devolver un int, con el total de dolares recaudados ese año por esa productora.

In [9]:
def peliculas_dia(dia):
    fechas = pd.to_datetime(d1['release_date'], format= '%Y-%m-%d')
    n_dia= fechas[fechas.dt.day_name(locale = 'es')==dia.capitalize()]
    respuesta = n_dia.shape[0]
    return {'dia':dia, 'cantidad':respuesta}

In [10]:
peliculas_dia('lunes')

{'dia': 'lunes', 'cantidad': 3503}

In [ ]:
# API 3
# Cantidad de peliculas que salieron en determinado año la funcion debe llamarse get_count_movies(year) y debe
# devolver un int con el numero total de peliculas que salieron ese año.

In [11]:
def franquicia(franquicia):
    f_bajo= franquicia.lower()
    fran= d1[['belongs_to_collection','budget','revenue']].dropna(subset=['belongs_to_collection'])
    fran= fran[fran['belongs_to_collection'].map(str.lower).apply(lambda x: f_bajo in x)]
    cantidad = fran.shape[0]
    gananciat= (fran['revenue']- fran['budget']).sum()
    gananciap= (fran['revenue']- fran['budget']).mean()
    return {'franquicia': franquicia, 'cantidad': cantidad, 'ganancia_total':gananciat, 'ganancia_promedio': gananciap}

In [12]:
franquicia('Toy Story Collection')

{'franquicia': 'Toy Story Collection',
 'cantidad': 3,
 'ganancia_total': 1617890605.0,
 'ganancia_promedio': 539296868.3333334}

In [ ]:
# API 4
# Pelicula de mayor retorno en determinado año. La funcion debe llamarse get_return(title, year) y debe devolver solo el 
# string con el string con el nombre de la pelicula con mayor retorno de inversion en ese año.

In [13]:
def peliculas_pais(pais: str) -> dict:
    if isinstance(pais, str):
        p_bajo = pais.lower()
        cantidad = d1['production_countries'].apply(lambda x: str(x).lower()).map(str.lower).apply(lambda x: p_bajo in x).sum()
        return {'pais': pais, 'cantidad': cantidad}

In [14]:
peliculas_pais ('United States of America')

{'pais': 'United States of America', 'cantidad': 21147}

In [ ]:
# API 5
# pelicula con el menor presupuesto en determinado año. La funcion debe llamarse get_min_budget(year) deberia devolver
# el string con el nombre de la pelicula, el año de estreno y el presupuesto, en un diccionario con las llaves llamadas
# 'Title', 'year', 'budget' y cada una con su valor correspondiente.

In [ ]:
def productoras(productora):
    prod = d1[['production_companies','budget', 'revenue']].dropna()
    prod['production_companies'] = prod['production_companies'].map(str.lower)
    cantidad = prod.shape[0]
    gtotal= (prod['revenue'] - prod['budget']).sum()
    return {'productora':productora, 'ganancia_total': gtotal, 'cantidad': cantidad }

In [ ]:
productoras('Warner Bros.')

In [ ]:
# API 6
# Lista de las 5 franquicias, colecciones o series de peliculas que mas recaudaron historicamente. La funcion se llamara
# get_collection_revenue() y deberia devolver una lista de longitud 5 que contenga el nombre en string de las 5
# franquicias que mas recaudaran historicamente.

In [18]:
def retorno(pelicula: str) -> dict:
    pelicula_df = d1.loc[d1['title'] == pelicula.title()]
    inversion = pelicula_df['budget'].iloc[0].item()
    ganancia = pelicula_df['revenue'].iloc[0].item()
    retorno= pelicula_df['return'].iloc[0].item()
    anio = pelicula_df['release_year'].iloc[0].item()
    return {'pelicula': pelicula, 'inversion': inversion, 'ganancia': ganancia, 'retorno': retorno, 'anio': anio }

In [19]:
retorno('toy story')

{'pelicula': 'toy story',
 'inversion': 30000000.0,
 'ganancia': 373554033.0,
 'retorno': 12.4518011,
 'anio': 1995}